.title-container-fav {
    display: flex;
    margin: 20px;
    color: #0E1428;
}

.fav-cart-container {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 1;
}

.into-container-fav {
    background-color: white;
    padding: 0 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.btn-newsletter-fav {
    /* width: 10%; */
/* height: 10%; */
    width: auto;
    height: auto;
    /* border-radius: 3px; */
    background-color: #E7BF50;
    color: #0E1428;
    border-radius: 3px;
    font-weight: 1000;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.fav-newsletter-btn {
    display: flex;
}