.succes-container {
    height: calc(100vh - 8.5em);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #EBEBEB;
}
.succes-container-inside {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width:70%;
    align-items: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    background-color: #EBEBEB;
    border: 1px solid #0E1428;
    border-radius: 3px;
    width: 85%;
    align-items: flex-start;
}
.container-1 p{
    margin: 3px 0;
}
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    width: 85%;
}

.title-list-succes {
    display: flex;
    width: 85%;
}

@media (max-width: 584px) {
    .succes-container-inside {
        width: 100%;
    }

    .container-1 {
        width: 95%;
    }

    .container-2 {
        width: 95%;
    }
}