.PagedDiv {
    margin: 0;
    display: flex;
    width: 100%;
}
.PagedNav {
    width: 100%;
    list-style: none;
}
.ulPaged {       
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}

.ulPaged div{
    padding-left: 5px;
}
.ulPaged button {
    margin-left: 5px;
}
.active {
    background-color: #4CAF50;
    color: white;
}
