/* parte de los top mas vendidos */
.trabajo{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.matematicas{
  max-width: 200px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.imagen_top{
  max-height: 170px;
  max-width: 150px;
}

.top_h2{
  margin-bottom: 10px;
  color: #ffffff;
}

/* parte de las ordenes*/
.container-articulos {
  background-color: #0E1428;
  padding: 5%;
  margin: 0 5%;
}

.container_stats{
  margin-top: -100px;
  margin-bottom: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}
.container_productos {
  min-width: 440px;
  min-height: 105px;
  background-color: white;
  border-radius: 5px;
  color: #191c24;
  font-size: 20px;
}
.container_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  font-size: 5rem;
}
  