.card_admin_slim {
    margin-top: 15px;
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    font-weight: 600;
    border: 1px solid #0E1428;
    background-image: url(../../assets/—Pngtree—abstract\ lines\ background_450198.jpg);
    color: #0E1428;
    width: 100%;
}

/* .card_admin_slim1 {

    width:11%;
} */

/* .card_admin_imagen {
    width: 100%;
    height: 100%;
} */

.card_admin_slim2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.card_admin_slim3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-right: 2px;
}

.card_admin_information {
    margin-left: 10px;
    margin-top: 10px;
    width: 1870%;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
}
.p_info_admin{
    height: 10px;
}
.card_info {
   display: flex;
}

.container_buttons {
    margin-right: 30px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    height: 80px;
    width:70px;
    justify-content: space-evenly;
    align-items: center;
}

/* .button_change_status {
    width: 85px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    margin-bottom: 10px;

} */

.button_change_order{
    text-align: center;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(207, 190, 190);
    margin-bottom: 10px;
}

.button_cancel_order{
    text-align: center;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(207, 190, 190);
    margin-bottom: 10px;
}

.button_cancel_order:hover{
    background-color: rgb(216, 41, 41);
}

@media (max-width: 584px) {
    .card-admin-container-slim-1 {
        width: 30%;
    }

    .card-admin-container-slim-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .button_cancel_order {
        display: flex;
        flex-direction: row;
        height: 60%;
        justify-content: space-around;
        width: 40%;
    }

    .card-admin-container-slim-stockYbtn {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .price-slim-card-price {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40%;
    }

    .card-admin-information {
        width: 100%;
    }
}