.footer {
  background-color: grey;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 5em;
   display: flex;
  flex-direction: column;
  justify-content: center; 
  
  
  
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Monoton';
  color: white;

}

.footer-container p {
  padding-top: 1px;
  
}

.email {
  border-radius: 100%;
}

.link-footer{
  color: white;
  text-decoration: none;
  cursor: pointer;
  
}

@media (max-width: 584px) {
  .footer-container {
    font-size: 10px;
  }
  .footer-container div{
    padding: 1px;
  }
}