@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.titleNavBar {
    font-family: 'Monoton', cursive !important;

}

.input-profile{
    text-decoration: none;
    color:black;
    

}